<section class="flex justify-center min-h-screen">
  <div class="mt-6 flex w-4/5 flex-col space-y-5">
    <h2 class="title">Pacientes</h2>

    <ul class="flex flex-col space-y-3">
      <li
        *ngFor="let paciente of pacientesList"
        class="flex min-w-[250px] max-w-[500px] flex-col space-y-4 rounded-lg border border-white bg-#2 p-7"
      >
        <span class="text-lg font-semibold text-#4">Nome:</span>
        <span class="text-lg font-semibold text-#3">{{paciente.nome}}</span>

        <span class="text-lg font-semibold text-#4">CPF:</span>
        <span class="text-lg font-semibold text-#3">{{paciente.cpf}}</span>

        <span class="text-lg font-semibold text-#4">Email:</span>
        <span class="text-lg font-semibold text-#3 break-words">{{paciente.email}}</span>
      </li>
    </ul>
  </div>
</section>
