<section class="flex min-h-screen justify-center">
  <div class="mt-6 flex w-4/5 flex-col space-y-5">
    <h2 class="title">Cadastro</h2>
    <form
      #cadastroForm="ngForm"
      (ngSubmit)="onSubmit(cadastroForm)"
      class="flex flex-col"
      action=""
      method="post"
      id="cadastro"
    >
      <label class="text-base" for="procedure">Escolha uma opção abaixo:</label>
      <select
        class="mb-3 min-w-[250px] max-w-[500px] rounded-lg"
        aria-label="Escolha uma opção"
        #procedure
        (change)="onSelected(procedure.value)"
      >
        <option *ngFor="let n of procedures">{{ n }}</option>
      </select>

      <!-- PACIENTES -->
      <div *ngIf="mostraPacienteBlock" class="flex flex-col space-y-5">
        <div class="flex flex-col space-y-2">
          <label class="rounded-lg" for="nome">Nome</label>
          <input name="nome" class="inputForm" type="text" ngModel />
        </div>

        <div class="flex flex-col space-y-2">
          <label for="cpf">CPF</label>
          <input
            class="inputForm"
            type="number"
            name="cpf"
            maxlength="11"
            ngModel
          />
        </div>

        <div class="flex flex-col space-y-2">
          <label for="email">Email</label>
          <input class="inputForm" type="email" name="email" ngModel />
        </div>
      </div>

      <!-- PROCEDIMENTOS -->
      <div *ngIf="mostraProcedimentoBlock" class="flex flex-col space-y-5">
        <div class="flex flex-col space-y-2">
          <label class="rounded-lg" for="codigo">Código</label>
          <input ngModel name="codigo" class="inputForm" type="number" />
        </div>

        <div class="flex flex-col space-y-2">
          <label for="nome">Nome</label>
          <input ngModel name="nome" class="inputForm" type="text" />
        </div>

        <div class="flex flex-col space-y-2">
          <label for="prazo">Prazo máximo para análise em dias</label>
          <input ngModel name="prazo" class="inputForm" type="number" />
        </div>
      </div>

      <!-- EXAMES -->
      <div *ngIf="mostraExameBlock" class="flex flex-col space-y-5">
        <div class="flex flex-col space-y-2">
          <label class="rounded-lg" for="codigo">Paciente</label>
          <select ngModel name="paciente" class="inputForm">
            <option *ngFor="let paciente of pacientesList">
              {{paciente.nome}}
            </option>
          </select>
        </div>

        <div class="flex flex-col space-y-2">
          <label class="rounded-lg" for="procedimento">Procedimento</label>
          <select ngModel name="procedimento" class="inputForm">
            <option *ngFor="let procedimento of procedimentosList">
              {{procedimento.nome}}
            </option>
          </select>
        </div>

        <div class="flex flex-col space-y-2">
          <label for="coleta">Data da coleta</label>
          <input
            ngModel
            (ngModelChange)="disponibilityDate($event)"
            name="coleta"
            class="inputForm"
            type="date"
          />
        </div>

        <!-- BLOQUEAR FINAIS DE SEMANA -->
        <div class="flex flex-col space-y-2">
          <label for="resultado">Data da entrega do resultado</label>
          <input
            ngModel
            name="resultado"
            class="inputForm"
            type="date"
            min="{{formatDate}}"
          />
        </div>
      </div>

      <div>
        <button
          *ngIf="procedureSelected"
          type="submit"
          class="group relative z-10 mt-5 inline-flex items-center justify-center rounded-md bg-gray-800 px-6 py-3 text-lg font-medium tracking-tighter text-white"
        >
          <span
            class="absolute inset-0 mt-1 ml-1 h-full w-full rounded-md bg-#4 transition-all duration-300 ease-in-out group-hover:mt-0 group-hover:ml-0"
          ></span>
          <span
            class="absolute inset-0 h-full w-full rounded-md bg-white"
          ></span>
          <span
            class="absolute inset-0 h-full w-full rounded-md bg-#4 opacity-0 transition-all delay-100 duration-200 ease-in-out group-hover:opacity-100"
          ></span>
          <span
            class="relative text-#4 transition-colors delay-100 duration-200 ease-in-out group-hover:text-white"
            >Cadastrar</span
          >
        </button>
      </div>
    </form>
  </div>
</section>
